# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MundellAssign4/MundellAssign4/MundellAssign4.vcxproj.filters
MundellAssign4/MundellAssign4/MundellAssign4.vcxproj.filters
MundellAssign4/MundellAssign4/MundellAssign4.vcxproj
MundellAssign4/.vs/MundellAssign4/v15/ipch/AutoPCH/49b4d6e6da5fb1ce/LINKEDLIST.ipch
*.ipch
*.tlog
*.lastbuildstate
*.idb
*.idb
MundellAssign4/.vs/MundellAssign4/v15/Browse.VC.db
MundellAssign4/.vs/MundellAssign4/v15/Browse.VC.opendb
*.db
BinaryTrees/.vs/BinaryTrees/v15/.suo
*.opendb
*.db
*.db
BinaryTrees/.vs/BinaryTrees/v15/.suo
BinaryTrees/.vs/BinaryTrees/v15/.suo
BinaryTrees/.vs/BinaryTrees/v15/Browse.VC.db
*.db
*.db
*.obj
*.log
*.pdb
*.exe
*.ilk
